@media screen {
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: normal;
  src: local('Calibri'), url('http://themes.googleusercontent.com/font?kit=9coX2bxtmeZhxv91CXw7qQ') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Cambria';
  font-style: normal;
  font-weight: normal;
  src: local('Cambria'), url('http://themes.googleusercontent.com/font?kit=qOP3jt5fC7RVkXxxuZ0KQA') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Cantal';
  font-style: normal;
  font-weight: normal;
  src: local('Cantal'), url('http://themes.googleusercontent.com/font?kit=NAfbn9W_xwYYvigv5DvR5A') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local('Cantarell'), url('http://themes.googleusercontent.com/font?kit=3Nki8PupXAA4kQiyg-v-S6CWcynf_cDxXwCLxiixG1c') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: normal;
  src: local('Cardo'), url('http://themes.googleusercontent.com/font?kit=Z7XaG2PO65IzXiEGdsRLHQ') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: normal;
  src: local('Consolas'), url('http://themes.googleusercontent.com/font?kit=AHTQE2f8E-7C4Fagw1YmbfesZW2xOQ-xsNqO47m55DA') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Corsiva';
  font-style: normal;
  font-weight: normal;
  src: local('Corsiva'), url('http://themes.googleusercontent.com/font?kit=cJrGG4Js3mYb0ayrvsDybQ') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: normal;
  src: local('Courier New'), local('CourierNewPSMT'), url('http://themes.googleusercontent.com/font?kit=p0pJArTTK5Heq6xbYtNwnmeudeTO44zf-ht3k-KNzwg') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: normal;
  src: local('Crimson Text'), url('http://themes.googleusercontent.com/font?kit=3IFMwfRa07i-auYR-B-zNfXvv67LPsgjo12DOhGlfyc') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  src: local('Cuprum'), url('http://themes.googleusercontent.com/font?kit=iek7hUBa3xH6jp_JEguivQ') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), url('http://themes.googleusercontent.com/font?kit=vk1xBJHzOPMZIrllGO7pBC3USBnSvpkopQaUR-2r7iU') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'), url('http://themes.googleusercontent.com/font?kit=ns-m2xQYezAtqh7ai59hJUsQ01YfuFoDulpCjPeMo4M') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/font?kit=0AKsP294HTD-nvJgucYTaGeudeTO44zf-ht3k-KNzwg') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: normal;
  font-weight: normal;
  src: local('IM Fell DW Pica'), url('http://themes.googleusercontent.com/font?kit=W81bfaWiUicLSPbJhW-ATpXqw2sdSdulDu6GtSo9pME') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('http://themes.googleusercontent.com/font?kit=BjAYBlHtW3CJxDcjzrnZCGeudeTO44zf-ht3k-KNzwg') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Josefin Sans Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Josefin Sans Std Light'), url('http://themes.googleusercontent.com/font?kit=doRWK9Qks0OQGenH-kW8nu95PAQP1LWy5wle1AF-w4I') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=W5XCwtadT21TrRIKsJ4ZiA') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: normal;
  src: local('Molengo'), url('http://themes.googleusercontent.com/font?kit=cUnzjmblsoKvIHa1afI_3A') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: normal;
  src: local('Neucha'), url('http://themes.googleusercontent.com/font?kit=yWGs99JiQMyYaTEwDoCGTw') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: normal;
  src: local('Neuton'), url('http://themes.googleusercontent.com/font?kit=ssUvIdAfEYBoNAeWwpNFZA') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('http://themes.googleusercontent.com/font?kit=MeJRC1qXHhLn4LvQ0mIbmQ') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: normal;
  font-weight: normal;
  src: local('OFL Sorts Mill Goudy TT'), url('http://themes.googleusercontent.com/font?kit=9ZZVVBRCceNnPBXqWLH8IHK7mAYWbTEfDn8ejxzzy6I') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: normal;
  src: local('Old Standard TT'), url('http://themes.googleusercontent.com/font?kit=n6RTCDcIPWSE8UNBa4k-DH-ToUytvUoCLEir8lQbELo') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/font?kit=TUeFkf0FuzjhW0PAC_YDVg') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: normal;
  src: local('Philosopher'), url('http://themes.googleusercontent.com/font?kit=OttjxgcoEsufOGSINYBGLWeudeTO44zf-ht3k-KNzwg') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: normal;
  src: local('Reenie Beanie'), url('http://themes.googleusercontent.com/font?kit=ljpKc6CdXusL1cnGUSamX-SG1Vhs6WuJu5OMHVi2V1g') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('http://themes.googleusercontent.com/font?kit=N3tHuUrQVE3FJr1SnuxxwqCWcynf_cDxXwCLxiixG1c') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('http://themes.googleusercontent.com/font?kit=6OKk9MDjV18ttdu12jHbHfesZW2xOQ-xsNqO47m55DA') format('truetype');
}
}
@media screen {
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz'), url('http://themes.googleusercontent.com/font?kit=YDAoLskQQ5MOAgvHUQCcLYm9380oneTkZmZG9kSa0Fs') format('truetype');
}
}