<!DOCTYPE html> 
<html lang="en">
<head>
<meta charset="utf-8">
<title>DevFest: Cancellation Request</title>
<link href="http://www.google.com/css/gcs-v2.css" rel="stylesheet" type="text/css">
<link href="http://code.google.com/events/devfests/2010/css/devfest.css" rel="stylesheet" type="text/css">
<link href="http://www.google.com/css/modules/buttons/g-button-chocobo.css" rel="stylesheet">
</head>
<body>
<div class="g-doc">
  <div class="g-section g-tpl-160">
    <div class="g-unit g-first">
      <a href="http://www.google.com/"><img
        src="http://www.google.com/images/logo_sm.gif"></a> 
    </div>
    <div class="g-unit"> 
      <div id="dflogo"><a
         href="http://code.google.com/events/devfests/2010/"><img
         alt="Google"
         src="http://code.google.com/events/devfests/2010/images/devfest2010-logo.png"></a></div>

  <h1>Cancellation Request</h1>
  {% block body %}
  {% endblock %}

     <div id="footer">
      &copy;2010 Google
      <a href="/">Code Home</a>
      - <a href="http://www.google.com/accounts/TOS">Terms of Service</a>
      - <a href="http://www.google.com/privacy.html">Privacy</a>
  </div>
</div>
</body>
</html>
