<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>COP15 Vote Map</title>
	<link rel="stylesheet" href="css/votemap.css" type="text/css">
  </head>
  <body onunload="GUnload()">
    <div id="vote_map_wrapper" style="height:600px; width:960px;">
    </div>
    <script type="text/javascript">
    document.write(
      '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=' +
      {
        'localhost:8080': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hTwM0brOpm-All5BF6PoaKBxRWWERQKBKqDm80in1RTu5PkBiNU5rC6TQ',
        'www.corp.google.com': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hRCgqPHFwXE2zePYmMJxuu4uk_b2xT9IjfnJgIf53UIW67eDyEQGkZn7w',
        'showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
        'www.showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
        'show-your-vote.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxRlOb26qSyU154aZeLwOrF4C7-DphSw7JoLuXrcDjUb_7h-S1txkSCY7A',
        'syv-test.appspot.com': 'ABQIAAAALrtqAVfQq7mfTTl0EBb7vBT0h0tJ-bKGUcjUByQY52vcgVjYfBTGUDVuRrptlbTJqV8QJhQ1sQgxDQ',
        '12.latest.show-your-vote.appspot.com': 'ABQIAAAAR4dJSBii5YOC7_avESB3UhS00szMXHqURiJ46Lk4zS5qD3CHuhTqdMURnOffX9b61UC_HwdFfMHkBw'

      }[location.host] +
      '" type="text/javascript"><\/script>'
    );
    <script type="text/javascript" src=js/votemap.js></script>
    <script type="text/javascript" src=js/ScanNPanControl.js></script>
    <script type="text/javascript">
        var language = 'en_us';
        var votemap = VOTEMAP.initialize("vote_map_wrapper", new GLatLng(55.6763, 12.5681), G_HYBRID_MAP, language);
        VOTEMAP.startScan();
    </script>
  </body>
</html>

