<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>COP15 Vote Map</title>
	<link rel="stylesheet" href="css/votemap.css" type="text/css">
  </head>
  <body onunload="GUnload()">
    <div id="vote_map_wrapper" style="height:600px; width:960px;">
    </div>
    <script type="text/javascript">
    document.write(
      '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=' +
      {
        'localhost:8080': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hTwM0brOpm-All5BF6PoaKBxRWWERQKBKqDm80in1RTu5PkBiNU5rC6TQ',
        'www.corp.google.com': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hRCgqPHFwXE2zePYmMJxuu4uk_b2xT9IjfnJgIf53UIW67eDyEQGkZn7w',
        'showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
        'www.showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
        'show-your-vote.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxRlOb26qSyU154aZeLwOrF4C7-DphSw7JoLuXrcDjUb_7h-S1txkSCY7A',
        'syv-test.appspot.com': 'ABQIAAAALrtqAVfQq7mfTTl0EBb7vBT0h0tJ-bKGUcjUByQY52vcgVjYfBTGUDVuRrptlbTJqV8QJhQ1sQgxDQ',
        '12.latest.show-your-vote.appspot.com': 'ABQIAAAAR4dJSBii5YOC7_avESB3UhS00szMXHqURiJ46Lk4zS5qD3CHuhTqdMURnOffX9b61UC_HwdFfMHkBw',
'13.latest.show-your-vote.appspot.com': 'ABQIAAAAR4dJSBii5YOC7_avESB3UhQ4aYfKQ0Fjb0bsIXQ303Y0OwswCBRYhKhyPggrY_MOsHFIn0ohxT05Lg'

      }[location.host] +
      '" type="text/javascript"><\/script>'
    );
	</script>

	<script type="text/javascript"> 
	site_bg_color = "white";
	 var js_api_key = {
        'localhost:8080': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hTwM0brOpm-All5BF6PoaKBxRWWERQKBKqDm80in1RTu5PkBiNU5rC6TQ',
        'www.corp.google.com': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hRCgqPHFwXE2zePYmMJxuu4uk_b2xT9IjfnJgIf53UIW67eDyEQGkZn7w',
        'pamelafox.syd.corp.google.com:8081': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hRCgqPHFwXE2zePYmMJxuu4uk_b2xT9IjfnJgIf53UIW67eDyEQGkZn7w',
        'showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
        'show-your-vote.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxRlOb26qSyU154aZeLwOrF4C7-DphSw7JoLuXrcDjUb_7h-S1txkSCY7A'
      }[location.host] || 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxRlOb26qSyU154aZeLwOrF4C7-DphSw7JoLuXrcDjUb_7h-S1txkSCY7A';
      var site_id = {
        'localhost:8080': '06612502964885082055',
        'www.showyourvote.org': '11822491580648762423',
        'show-your-vote.appspot.com': '11822491580648762423'
      }[location.host] || '11822491580648762423';
    </script>
	<script type="text/javascript">
      document.write(
        '<script src="http://www.google.com/jsapi?key=' +
        js_api_key +
        '" type="text/javascript"><\/script>'
      );
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>
   <script src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>



	    <script src="/js/markermanager.js"  type="text/javascript"></script>
	 <script src="/js/maptooltip.js"></script>
    <script src="/js/base_compiled.js" type="text/javascript"></script>
    <script src="/js/jquery-cookie-1.0.js" type="text/javascript"></script>
    <script src="/js/markermanager.js" type="text/javascript"></script>
	<script src='/js/MapManager.js'></script>
	
    <script type="text/javascript" src="js/votemap.js"></script>
    <script type="text/javascript" src="js/ScanNPanControl.js"></script>
  <script type="text/javascript">
	var mapManager;

	jQuery(document).ready(function()
	{
			mapManager = new MapManager({'map':"vote_map_wrapper",'showTotals':true,'useMapObject':false,'visual':true,"page":'explore','startScan':true,'voteControl':true,'skin':'RYV','includeSearch':false,'includeVoteMarkers':true,'RYV':true });
	});
		</script>
<div id="clone" style='display:none'>
  <div id="voteEarthTabRemove">
  <a id="close" onclick="mapManager.closeVoteControl();return false;" style="float: right;display:block"><img src="/images/Large/FormX.png" alt="close"/></a>
  <h1> Show your vote </h1> 
    <form name="signRemove" id="signRemove" enctype="multipart/form-data" action="/add/signer" method="post" class="cmxform">
 		<input type="hidden" name="website" value="{{ website }}" />
	      <fieldset id="VoteFormRemove">
	        <p><b>Your vote will be presented to world leaders at the COP15 UN climate summit in Copenhagen, telling them to seal a fair and effective climate deal.</b></p>
	        <ol>
	          <li>
	            <label for="form_toggle"><em>*</em> Are You An </label>
	            <select id="form_toggleRemove">
	              <option value="person">Individual</option>
	              <option value="org">Organization</option>
	            </select>
	          </li>
	          <li class="org">
	            <label for="org_name"> <em>*</em> Organization</label>
	            <input name="org_name" id="org_nameRemove" />
	          </li>
	          <li class="org">
	            <label for="email"><em>*</em> Email </label>
	            <input name="email" id="emailRemove" class="email"/>
	          </li>
	          <li class="org">
	            <label for="org_icon">Icon:</label>
	            <input type="file" name="org_icon">
	          </li>
	          <li class="loc country">
	            <label for="country"><em>*</em> Country</label>
	            <select name="country" id="countryRemove" class="required">
	              <option value="">- Select Your Country -</option>
	            </select>
	          </li>
	          <li class="loc state">
	            <label for="state"><em>*</em> State</label>
	            <select name="state" id="stateRemove">
	              <option value="">- Select Your State -</option>
	            </select>
	          </li>
	          <li class="loc org">
	            <label for="streetinfo"> <em>*</em> Street Address</label>
	            <input type="text" name="streetinfo" id="streetinfoRemove"/>
	          </li>
	          <li class="loc">
	            <label for="city">City</label>
	            <input type="text" name="city" id="cityRemove"/>
	          </li>
	          <li class="loc postcode">
	            <label for="postcode"><em>*</em> Postcode </label>
	            <input type="text" name="postcode" id="postcodeRemove"/>
	          </li>
	          <li>
	             <p style="font-size: 12px">Required fields marked <em>*</em>
	          </li>
	        </ol>
	        <input type="hidden" id="nonceRemove" name="nonce" />
	        <input type="hidden" id="person_gfc_idRemove" name="person_gfc_id" />
	        <input type="hidden" id="latRemove" name="lat" />
	        <input type="hidden" id="lngRemove" name="lng" />
	        <input type="hidden" id="skinRemove" name="skin" value="large" />
			<input type="hidden" id="mapTypeRemove" name="mapType" value="visual">
	      </fieldset>

	      <!--TODO: position this button -->
	      <input TYPE="image" id="Submit" SRC="images/SubmitButton.png" ALT="Submit Form" />
	      <div id="errmsg" style="color:#ff0000"></div>
    </form>
  </div>
</div>
  </body>
</html>

