{% extends "base.html" %}
{% block scripts %}
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />
  <link type="text/css" href="css/jquery-ui-1.7.2.custom.css" rel="Stylesheet" /> 
  <script type="text/javascript"> document.write( 
     '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=' + 
     { 
        'pamelafox-randomdemo.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxSvRnMDgWHjDlFJuX_AlxQ7KeId4RRQR6oMLv04l2SldvFSFPU1s4_GXA' 
     }[location.host] + 
     '" type="text/javascript"><\/script>' ); 
  </script>
  <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" src="/js/countrybounds.js"></script>
  <script type="text/javascript" src="/js/validator.js"></script>
  <style type = "text/css">
tr.org {
  display:none;
}
  </style>
  <script>
var frmvalidator;
var map;

function toggleForm(value) {
  if (value == 'org') {
    jQuery('tr.org').show();
    jQuery('tr.family').hide();
  } else {
    jQuery('tr.org').hide();
    jQuery('tr.family').show();
  }
}

function populateCountries() {
 jQuery('#staterow').hide();
 frmvalidator  = new Validator("signup");
 frmvalidator.addValidation("country","req",
                            "Country is required.");
 frmvalidator.addValidation("email","email",
                            "Must be a valid email address.");
 frmvalidator.addValidation("family_num","gt=0",
                            "Number in household must be atleast 1.");

  var countrySELECT  = document.getElementById('country');
  for (var countryCode in countriesInfo) {
    var countryOPTION = document.createElement('option');
    countryOPTION.setAttribute("value", countryCode);
    var countryTEXT = document.createTextNode(countryCode + " - " + countriesInfo[countryCode].name);
    countryOPTION.appendChild(countryTEXT);
    countrySELECT.appendChild(countryOPTION);
  }
  countrySELECT.onchange = populateStates;

  center = new GLatLng(31.952162,1.054688);
  zoom = 1;
  map = new GMap2(document.getElementById("map"));
  map.setCenter(center, zoom, G_PHYSICAL_MAP);
  map.setUIToDefault();
}

function populateStates() {
  var stateSELECT = document.getElementById('state');
  stateSELECT.innerHTML = "";

  var countryCode = document.getElementById('country').value;
  var states = countriesInfo[countryCode].states;
  if (!states) {
    jQuery('#staterow').hide();
    return;
  }
  frmvalidator.addValidation("state","req",
                            "State is required.");
  jQuery('#staterow').show();

  for (var i = 0; i < states.length; i++) {
    var stateOPTION = document.createElement('option');
    stateOPTION.setAttribute("value", states[i]);
    var stateTEXT = document.createTextNode(states[i]);
    stateOPTION.appendChild(stateTEXT);
    stateSELECT.appendChild(stateOPTION);
  }
}

function checkAddress() {
  map.clearOverlays();
  var fullAddress = jQuery("#city").val() + "," + jQuery("#postcode").val() 
    + "," + jQuery("#state").val() + "," + jQuery("#country").val();
  geocodeAddress(fullAddress, "1", true);
  var clusterAddress = jQuery("#postcode").val() + "," + jQuery("#country").val();
  geocodeAddress(clusterAddress, "2", false);
}

function geocodeAddress(address, suffix, addMarker) {
  var geocoder = new GClientGeocoder();
  geocoder.getLatLng(address, function(point) {
    if (!point) {
      alert(address + " not found");
    } else {
      if (addMarker) {
        map.setCenter(point, 13);
        var marker = new GMarker(point, {title: address});
        map.addOverlay(marker);
      }
      jQuery("#lat" + suffix).val(point.lat());
      jQuery("#lng" + suffix).val(point.lng());
      jQuery("#submit")[0].disabled = false;
    }
  });
}

jQuery(document).ready(populateCountries); 
  </script>
{% endblock %}
{% block content %}
  <div id="formblock" class="ui-widget-content ui-corner-all" style="width:100%">
  <h5 class="ui-widget-header ui-corner-all">Please enter your details into this
form and click the submit button.</h5>
  <br/>
   <form name="signup" action="/add/signer" method="post">
     <table>
      <tr>
      <td>
       <label for="type">You are an:</label>
      </td>
      <td>
       <select name="type" onchange="toggleForm(this.options[this.selectedIndex].value)">
        <option value="family" SELECTED>Individual/Family</option>
        <option value="org">Organization/Company</option>
       </select>
      </td>
      </tr>
      <tr class="family">
      <td><label for="family_name">Family name*:</label></td>
      <td><input type="text" name="family_name" value=""></td>
      </tr>
      <tr class="family">
      <td><label for="family_num">Number in household:</label></td>
      <td><input type="text" name="family_num" value=""></td>
      </tr>
      <tr class="org">
      <td><label for="org_name">Name of organization*:</label></td>
      <td><input type="text" name="org_name" value=""></td>
      </tr>
      <tr class="org">
      <td><label for="org_num">Number of people:</label></td>
      <td><input type="text" name="org_num" value=""></td>
      </tr>
      <tr class="org">
      <td><label for="org_icon">Icon URL (32*32px):</label></td>
      <td><input type="text" name="org_icon" value=""></td>
      </tr>
      <tr>
      <td><label for="email">Email address:</label></td>
      <td><input type="text" name="email" value=""></td>
      </tr>
      <tr class="org">
      <td>
        <label for="streetinfo">Your street number and address:</label>
      </td>
      <td>
        <input type="text" name="streetinfo" id="streetinfo" value="">
      </td>
      </tr>
      <tr>
      <td><label for="country">Country:</label></td>
      <td><select name="country" id="country">
          <option value="">- Select 1 -</option>
          </select></td>
      </tr>
      <tr id="staterow">
       <td>
        <label for="state">Your state/territory:</label>
       </td>
       <td>
        <select name="state" id="state">
       </select>
       </td>
      </tr>
      <tr>
      <td>
        <label for="city">Your city:</span></label>
      </td>
      <td>
        <input type="text" name="city" id="city" value="">
      </td>
      </tr>
      <tr>
      <td><label for="postcode">Postcode:</label></td>
      <td><input type="text" name="postcode" id="postcode" value=""></td>
      </tr>
<!--
      <tr><td colspan="2"><em>Share how you're doing your part (Optional):</em></td></tr>
      <tr>
      <td><label for="freetext">Your contributions:</label></td>
      <td><input type="text" name="freetext" value="Planting trees."></td>
      </tr>
      <tr>
      <td><label for="picasa">Picasa Slideshow:</label></td>
      <td><input type="text" name="picasa" value=""></td>
      </tr>
      <tr>
      <td><label for="youtube">Youtube Video:</label></td>
      <td><input type="text" name="youtube" value=""></td>
      </tr>
-->
      <tr><td></td><td><input type="button" value="Check Address" onclick="checkAddress()"></td></tr>
      <tr><td></td><td><div id="map" style="width:300px;height:200px"></div></td></tr>
      <tr><td></td><td><input type="submit" id="submit" value="Submit" disabled></td></tr>
     </table>
     <div style="display:none">
      <input type="text" id="lat1" name="lat1"/>
      <input type="text" id="lng1" name="lng1"/>
      <input type="text" id="lat2" name="lat2"/>
      <input type="text" id="lng2" name="lng2"/>
     </div>
        <div id="errmsg" style="color:red; font-weight: bold; font-size:1.5em"></div>
    </form>

    <p>
    *We are collecting your family name to combat spam - we will only use it to verify that you are indeed the resident at this address.
   </p>
{% endblock %}
