{% extends "base.html" %}
{% block content %}
<div id="show_your_vote">
  <ul>
    <li><img class="logo" src="images/logo.png" alt="Show Your Vote" /></li>
    <li><a href="#learn">Learn</a></li>
    <li><a href="#vote">Vote</a></li>
    <li><a href="#explore">Explore</a></li>
    <li>
      <!-- Define the div tag where the gadget will be inserted. -->
      <div id="div-2912608371130852112" class="gfc signin"></div>
      <!-- Render the gadget into a div. -->
      <script type="text/javascript">
      var skin = {};
      skin['BORDER_COLOR'] = 'transparent';
      skin['ENDCAP_BG_COLOR'] = '#f2f2f2';
      skin['ENDCAP_TEXT_COLOR'] = '#333333';
      skin['ENDCAP_LINK_COLOR'] = '#0000cc';
      skin['ALTERNATE_BG_COLOR'] = 'transparent';
      skin['CONTENT_BG_COLOR'] = 'transparent';
      skin['CONTENT_LINK_COLOR'] = '#0000cc';
      skin['CONTENT_TEXT_COLOR'] = '#333333';
      skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
      skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
      skin['CONTENT_HEADLINE_COLOR'] = '#333333';
      skin['ALIGNMENT'] = 'right';
      google.friendconnect.container.renderSignInGadget({
        id: 'div-2912608371130852112',
        site: '16982815293172380621'
      }, skin);
      </script>
    </li>
  </ul>
  <div id="learn">
    <div id="earth_container" class="contracted">
      <div id="tourlist_status">Loading...</div>
      <div id="tourlist_container">
        <ul id="tourlist">
        </ul>
      </div>
      <div id="map3d_container">
        <div id="map3d"></div>
      </div>
      <div id="caption">captions</div>
    </div>
  </div>
  <div id="vote">
    <div id="why">
      <h3>Why should I join the vote?</h3>

      <p>
      Climate change affects us all. Nine out of every ten
      disasters recorded are now climate related. Rising
      temperatures and more frequent floods, droughts and
      storms affect millions of people’s lives.
      </p>

      <p>
      On December 7, governments will gather in Copenhagen,
      Denmark to respond to one of the greatest challenges
      facing humanity. The main question will be how to protect
      the planet and create a green economy that will lead
      to long-term prosperity.
      </p>

      <p>
      Reaching a deal will depend not only on political
      negotiations, but also on public pressure
      from around the globe.
      </p>

      <p>
        <strong>
          Show your vote in support of the COP15, to tell the world's leaders that you want to change climate change.
        </strong>
      </p>

      <p>
        <object
            classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
            codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
            width="335" height="120" id="cop15_countdown_mini_white" align="left">
          <param name="allowScriptAccess" value="sameDomain" />
          <param name="allowFullScreen" value="false" />
          <param name="movie" value="http://unfccc.int/files/inc/graphics/application/x-shockwave-flash/cop15_countdown_mini_white.swf" />
          <param name="quality" value="high" />
          <param name="bgcolor" value="#FFFFFF" />
          <embed
              src="http://unfccc.int/files/inc/graphics/application/x-shockwave-flash/cop15_countdown_mini_white.swf"
              quality="high" bgcolor="#FFFFFF" width="335" height="120" name="cop15_countdown_mini_white"
              align="middle" allowScriptAccess="sameDomain" allowFullScreen="false"
              type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
        </object>
      </p>
    </div>
    <!-- TODO set form action to correct location -->
    <form name="sign" action="#" method="post" class="cmxform">
      <fieldset>
        <ol>
          <li>
            <label for="form_toggle">Are You An <em>*</em></label>
            <select id="form_toggle" onchange="toggleForm(jQuery(this).val())">
              <option value="person">Individual</option>
              <option value="org">Organization</option>
            </select>
          </li>
          <li class="person">
            <label for="person_name">Name <em>*</em></label>
            <input id="person_name" />
          </li>
          <li class="person">
            <label for="person_email">Email</label>
            <input id="person_email" />
          </li>
          <li class="org">
            <label for="org_name">Organization <em>*</em></label>
            <input id="org_name" />
          </li>
          <li class="loc country">
            <label for="country">Country <em>*</em></label>
            <select name="country" id="country">
              <option value="">- Select Your Country -</option>
            </select>                
          </li>
          <li class="loc state">
            <label for="state">State</label>
            <select name="state" id="state">
              <option value="">- Select Your State -</option>
            </select>                
          </li>
          <li class="loc">
            <label for="city">City</label>
            <input type="text" name="city" id="city"/>
          </li>
          <li class="loc">
            <label for="postcode">Postcode</label>
            <input type="text" name="postcode" id="postcode"/>
          </li>
        </ol>
      </fieldset>
      <div id="vote_map" style="width: 300px; height: 200px"></div>
      <p>Required fields marked <em>*</em>.</p>
      <p><input type="submit" value="Submit" disabled="disabled"/></p>
    </form>
  </div>
  <div id="explore">
    <div class="top">
      <div class="left">
        <div id="explore_map"></div>
      </div>
      <div class="right">
        <div id="stats">
          Stats go here.
        </div>
        <div id="comments_wrapper">
          <!-- Define the div tag where the gadget will be inserted. -->
          <div id="div-6448190187886641253" style="width:250px;border:1px solid #cccccc;max-height:394px"></div>
        </div>
        <!-- Render the gadget into a div. -->
        <script type="text/javascript">
          var skin = {};
          skin['BORDER_COLOR'] = '#cccccc';
          skin['ENDCAP_BG_COLOR'] = '#f2f2f2';
          skin['ENDCAP_TEXT_COLOR'] = '#333333';
          skin['ENDCAP_LINK_COLOR'] = '#0000cc';
          skin['ALTERNATE_BG_COLOR'] = '#ffffff';
          skin['CONTENT_BG_COLOR'] = '#ffffff';
          skin['CONTENT_LINK_COLOR'] = '#0000cc';
          skin['CONTENT_TEXT_COLOR'] = '#333333';
          skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
          skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
          skin['CONTENT_HEADLINE_COLOR'] = '#333333';
          skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
          skin['HEADER_TEXT'] = 'Comments';
          skin['POSTS_PER_PAGE'] = '4';
          skin['HEIGHT'] = '394';
          google.friendconnect.container.renderWallGadget({
            id: 'div-6448190187886641253',
            site: '16982815293172380621',
              'view-params':{"disableMinMax":"true","scope":"ID","features":"video,comment","docId":locationId,"startMaximized":"true","useFixedHeight":"true"}
          }, skin);
        </script>
      </div>
    </div>
    <div class="bottom">
      <a id="big_button" href="http://www.youtube.com/user/Cop15">
        <img src="images/raise_your_voice.png" />
      </a>
      <div id="videoBar-bar">
        <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>
      </div>
      <style type="text/css">
        @import url("http://www.google.com/uds/css/gsearch.css");
        @import url("http://www.google.com/uds/solutions/videobar/gsvideobar.css");
        .playerInnerBox_gsvb .player_gsvb {
          width : 320px;
          height : 260px;
        }
      </style>
    </div>
  </div>
  <div id="legal">
    © 2009 Google - <a href="#">Terms of Service</a> - <a href="#">Privacy Policy</a>
  </div>
</div>
{% endblock %}
