<html>
<head>
<style type="text/css">
.translateform
{
	list-style: none;
}

.translateform OL LI LABEL
{
	width: 150px;
	line-height: 10px;
}
</style>
</head>
<body>
   <form method="post" action="add/translation">
   <ol class="translateform">
      <li>
      		<label for="icon">Icon</label>
        	<input name="icon" id="icon" />
      </li>
      <li>
      		<label for="email">Email</label>
          	<input name="email" id="email" />
      </li>
      <li>
          	<label for="organization">Organization</label>
          	<input name="organization" id="organization" />
      </li>
      <li>
			<label for="country">country</label>
			<input name="country" id="country" />
      </li>
      <li>
			<label for="state">state</label>
			<input name="state" id="state" />
      </li>
      <li>
      		<label for="street">street</label>
      		<input name="street" id="street" />
      </li>
      <li>
		  	<label for="city">city</label>
          	<input name="city" id="city" />
      </li>
      <li>
		  	<label for="postcode">postcode</label>
          	<input name="postcode" id="postcode" />
      </li>
      <li>
		  	<label for="optin">optin</label>
          	<input name="optin" id="optin" />
      </li>
      <li>
		  	<label for="individual">individual</label>
          	<input name="individual" id="individual" />
      </li>
      <li>
			<label for="votes">votes</label>
          	<input name="votes" id="votes" />
      </li>
      <li>
      		<label for="cancel">cancel</label>
         	 <input name="cancel" id="cancel" />
      </li>
      <li>
      		<label for="showvote">Show your vote</label>
          	<input name="showvote" id="showvote" />
      </li>
      <li>
       		<label for="aboveform">On 27th March 2010, at 8.30pm people from all around the world will be switching off their lights for Earth Hour. Make sure you are one of them and pledge your support now by signing up below.</label>
          	<textarea rows="2" cols="20" id="aboveform" name="aboveform"></textarea>
      </li>
   </ol>
    <input type="submit" value="submit" id="hello" name="hello" />
   </form>
</body>
</html>