<html>
<head>
</head>
<body>
   <form method="post" action="add/localistationStrings">
   <ol>
      <li>
          <input name="icon" id="icon" />
      </li>
      <li>
          <input name="email" id="email" />
      </li>
      <li>
          <input name="organization" id="organization" />
      </li>
      <li>
          <input name="country" id="country" />
      </li>
      <li>
          <input name="state" id="state" />
      </li>
      <li>
          <input name="street" id="street" />
      </li>
      <li>
          <input name="city" id="city" />
      </li>
      <li>
          <input name="postcode" id="postcode" />
      </li>
      <li>
          <input name="optin" id="optin" />
      </li>
      <li>
          <input name="individual" id="individual" />
      </li>
      <li>
          <input name="votes" id="votes" />
      </li>
      <li>
          <input name="cancel" id="cancel" />
      </li>
      <li>
          <input name="showvote" id="showvote" />
      </li>
      <li>
          <input name="aboveForm" id="aboveForm" />
      </li>
      <li>
          <input type="submit" />
      </li>
   </ol>
   </form>
</body>
</html>