{% extends "base.html" %}
{% block scripts %}
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />
  <link type="text/css" href="css/jquery-ui-1.7.2.custom.css" rel="Stylesheet" /> 
  <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
  <script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.1/src/mapiconmaker.js"></script>
  <script src="/js/util.js"></script>
   <script type="text/javascript"> document.write( 
      '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=' + 
      { 
         'petition-au.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxRlOb26qSyU154aZeLwOrF4C7-DphSw7JoLuXrcDjUb_7h-S1txkSCY7A',
         'pamelafox-randomdemo.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxSvRnMDgWHjDlFJuX_AlxQ7KeId4RRQR6oMLv04l2SldvFSFPU1s4_GXA' 
      }[location.host] + 
      '" type="text/javascript"><\/script>' ); 
   </script> 
  <script src="/js/markermanager.js"></script>
  <script src="/js/maptooltip.js"></script>
  <script src="/js/countrybounds.js"></script>
  <script>
var map;
var markerManager;
var maxZoomSeen = 0;
var countries;
var loadedCountries = false;
var loadedContinents = false;

function initialize() {
  map = new GMap2(document.getElementById("map_canvas"));
  var latlng = getURLParam("latlng");
  if (latlng) {
    latlng = new GLatLng(latlng.split(",")[0], latlng.split(",")[1]);
    zoom = 11;
  } else {
    latlng = new GLatLng(31.952162,1.054688);
    zoom = 1;
  } 
  // todo: if no latlng but country, show country

  map.setCenter(latlng, zoom, G_PHYSICAL_MAP);
  map.setUIToDefault();
  markerManager = new MarkerManager(map);

  GEvent.addListener(map, "zoomend", handleZoomChange);
  GEvent.addListener(map, "moveend", handleBoundsChange);
  handleZoomChange();
  handleBoundsChange();
}


function handleBoundsChange() {
    var bounds = map.getBounds();
    for (countryCode in countriesInfo) {
      var countryInfo = countriesInfo[countryCode];
      var countryBounds = new GLatLngBounds(new GLatLng(countryInfo.bounds.southWest[0], countryInfo.bounds.southWest[1]), new GLatLng(countryInfo.bounds.northEast[0], countryInfo.bounds.northEast[1]));
      if (bounds.intersects(countryBounds)) {
        if (!countryInfo.hasStates
         && !countryInfo.loadedPostcodes
         && map.getZoom() > 4) {
          downloadUrl("/info/postcodes?countryCode=" + countryCode, processPostcodes);
          countryInfo.loadedPostcodes = true;
        }
        if ( countryInfo.hasStates
         && !countryInfo.loadedStates
         && map.getZoom() > 2) {
          downloadUrl("/info/states?countryCode=" + countryCode, processStates);
          countryInfo.loadedStates = true;
        }
        if ( countryInfo.hasStates
         && !countryInfo.loadedPostcodes
         && map.getZoom() > 4) {
          downloadUrl("/info/postcodes?countryCode=" + countryCode, processPostcodes);
          countryInfo.loadedPostcodes = true;
        }
      }
     }
}

function handleZoomChange() {    
 if (map.getZoom() > 2 && map.getZoom() < 6 && !loadedCountries) {
   downloadUrl("/info/countries", processCountries);
   loadedCountries = true;
 }
 if (map.getZoom() >= 0 && map.getZoom() < 4 && !loadedContinents) {
   downloadUrl("/info/continents", processContinents);
   loadedContinents = true;
 }
}

function processContinents(json) {
  var info = eval("(" + json + ")");
  var markers = [];
  for (continentCode in info.continents) {
    var continent = info.continents[continentCode];
    if (continent.count == 0) continue;
    var marker = createMarker(new GLatLng(continent.center[0], continent.center[1]), createBigIcon(continent.count), continent.name, 3);
    markers.push(marker);
  }
  markerManager.addMarkers(markers, 0, 2);
  markerManager.refresh();
}

function processCountries(json) {
  var info = eval("(" + json + ")");

  var markers = [];
  for (countryCode in info.countries) {
    var country = info.countries[countryCode];
    var marker = createMarker(new GLatLng(country.center[0], country.center[1]), createBigIcon(country.count), country.name, 6);
    markers.push(marker);
  }
  markerManager.addMarkers(markers, 3, 5);
  markerManager.refresh();
}

function processStates(json) {
  var info = eval("(" + json + ")");

  var markers = [];
  for (stateCode in info.states) {
    var state = info.states[stateCode];
    var marker = createMarker(new GLatLng(state.center[0], state.center[1]), createMediumIcon(state.count), state.name, 6);
    markers.push(marker);
  }

  markerManager.addMarkers(markers, 3, 5);
  markerManager.refresh();
}

function processPostcodes(json) {
  var info = eval("(" + json + ")");
  var markers = [];
  for (postcodeCode in info.postcodes) {
    var postcode = info.postcodes[postcodeCode];
    var marker = createMarker(new GLatLng(postcode.center[0], postcode.center[1]), createSmallIcon(postcode.count), postcodeCode, 14);
    markers.push(marker);
  }

  markerManager.addMarkers(markers, 6);
  markerManager.refresh();
}

function createBigIcon(label) {
  var iconOptions = {};
  iconOptions.width = 32;
  iconOptions.height = 32;
  iconOptions.primaryColor = "#b3e742";
  iconOptions.label = "" + label;
  iconOptions.labelSize = 20;
  iconOptions.labelColor = "#FFFFFF";
  iconOptions.shape = "roundrect";
  var icon = MapIconMaker.createFlatIcon(iconOptions);
  icon.iconOptions = iconOptions;
  return icon;
}

function createMediumIcon(label) {
  var iconOptions = {};
  iconOptions.width = 24;
  iconOptions.height = 24;
  iconOptions.primaryColor =  "#86cb23";
  iconOptions.label = "" + label;
  iconOptions.labelSize = 16;
  iconOptions.labelColor = "#FFFFFF";
  iconOptions.shape = "roundrect";
  var icon = MapIconMaker.createFlatIcon(iconOptions);
  icon.iconOptions = iconOptions;
  return icon;
}

function createSmallIcon(label) {
  var iconOptions = {};
  iconOptions.width = 18;
  iconOptions.height = 18;
  iconOptions.primaryColor = "#5fa612";
  iconOptions.label = "" + label;
  iconOptions.labelSize = 12;
  iconOptions.labelColor = "#FFFFFF";
  iconOptions.shape = "roundrect";
  var icon = MapIconMaker.createFlatIcon(iconOptions);
  icon.iconOptions = iconOptions;
  return icon;
}

function createMarker(latlng, icon, title, zoom) {
  var marker = new GMarker(latlng, {icon: icon});
  var tooltip = new MapTooltip(marker, title, {offsetX: icon.iconOptions.width - 6, backgroundColor: icon.iconOptions.primaryColor});
  GEvent.addListener(marker, "mouseover", function() {
    map.addOverlay(tooltip);
  });
  GEvent.addListener(marker, "mouseout", function() {
    map.removeOverlay(tooltip);
  });
  GEvent.addListener(marker, "click", function() {
    marker.openInfoWindowHtml(icon.iconOptions.label + " signed the petition here. <a href='javascript:map.setCenter(new GLatLng(" + latlng.toUrlValue(6) + "), " + zoom + ")'>Zoom in.</a>");
  });
  return marker;
}

$(document).ready(initialize);
</script>
{% endblock %}
{% block content %}
  <div id="map_canvas" style="border:2px solid white; width:100%;height:350px;margin-bottom:5px"></div>
{% endblock  %}
